* { padding: 0;	margin: 0; box-sizing:border-box; }
body{
	background-color: white;
	font-family: Helvetica, sans-serif;
	line-height: 1.3;
	text-align: center;
}

header{
	font-family: Helvetica, sans-serif;
	margin: 12px;
	padding-bottom: 30px;
}

main {
	padding-top: 150px;
}

h1, h3, p {
	font-family: Helvetica, sans-serif;
	color: #454545;
	padding-left: 200px;
	padding-right: 200px;
}

h3{
	padding-top: 30px;
	text-transform: uppercase;
}

p{
	font-size: 15px;
}

a {
	color:	#cccccc;
	text-decoration: none;
}

nav a {
	color: #acacac;
	margin: 30px;
	font-weight: bold;
	float: right;
}

#logo{	
	width: 200px;
	float: left;
}

#slogan{
	font-style: italic;
	color: #acacac;
	font-size: 40px;
}
img{
	width: 100%;
}


